@import "variables.css";

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--color-bg-body);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
ul,
ul li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img {
  width: 100%;
  height: auto;
}

.main-container {
  box-sizing: border-box;
  background-color: var(--color-bg-body);
  padding: 0 40px;
  max-width: 1440px;
  margin: 0 auto;
}

@media screen and (max-width: 480px) {
  .main-container {
    padding: 0 16px;
  }
}
/* Headings */

.heading-primary {
  color: var(--color-text-light);
  font-size: var(--font-size-heading-1);
  margin: 0;
  line-height: 105%;
  font-weight: 600;
}

.heading-secondary {
  text-align: center;
  color: var(--color-text-dark);
  font-size: var(--font-size-heading-2);
  margin: 0;
  margin-bottom: 40px;
  font-weight: 500;
  line-height: var(--height-heading-2);
}

@media screen and (max-width: 680px) {
  .heading-secondary {
    font-size: 32px;
  }
}

.heading-secondary span,
.heading-primary span {
  display: inline-flex;
  color: var(--color-text-accent);
  font-style: italic;
  font-weight: 600;
  line-height: 105%;
}

.product-title {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  color: var(--color-text-dark);
  margin: 0;
}

/* Text */

.product-description {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin: 0;
  color: var(--color-text-dark);
}

.product-price {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  margin: 0;
  color: var(--color-text-dark);
}

/* Buttons */

.button-primary {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  height: 64px;
  min-width: 200px;
  border: none;
  border-radius: 50px;
  text-decoration: none;
  background-color: var(--color-bg-body);
  cursor: pointer;
  box-shadow: none;
  transition: all 0.3s ease-in-out;
  box-sizing: border-box;
}

.button-primary span {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 150%;
  color: var(--color-text-dark);
  translate: 14px;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}

.button-primary svg {
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

@media (hover: hover) and (pointer: fine) {
  .button-primary:hover span {
    translate: 0;
  }

  .button-primary:hover svg {
    opacity: 1;
  }
}

.menu-button {
  position: relative;
  display: flex;
  gap: 8px;
  font-size: 16px;
  line-height: 135%;
  font-weight: 600;
  height: 24px;
  color: var(--color-text-dark);
  text-decoration: none;
}
.menu-button img {
  width: 20px;
  height: 18px;
}

.link::after {
  position: absolute;
  content: "";
  height: 2px;
  background-color: var(--color-text-dark);
  bottom: 0;
  left: 0;
  transition: all 0.5s ease-in-out;
  width: 100%;
  opacity: 0;
  transform: scaleX(0);
}

@media (hover: hover) and (pointer: fine) {
  .link:not(.--disabled):hover::after {
    opacity: 1;
    transform-origin: 50% 0;
    transform: scaleX(1);
  }
}

.link.--disabled {
  pointer-events: none;
  cursor: auto;
}

.link.--disabled::after {
  opacity: 1;
}

.link.active::after {
  opacity: 1;
  transform-origin: 50% 0;
  transform: scaleX(1);
}

.app-button {
  display: inline-flex;
  align-items: center;
  padding: 12px 20px;
  gap: 8px;
  height: 64px;
  min-width: 200px;
  border: 1px solid var(--color-border-dark);
  border-radius: 100px;
  text-decoration: none;
  background-color: transparent;
  cursor: pointer;
  box-shadow: none;
  transition: all 0.5s ease-in-out;
  box-sizing: border-box;
}

.app-button p {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: var(--color-text-dark);
  transition: all 0.5s ease-in-out;
}

.app-button p span:nth-child(1) {
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
}

.app-button p span:nth-child(2) {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}

.app-button path {
  transition: all 0.5s ease-in-out;
}

@media (hover: hover) and (pointer: fine) {
  .app-button:hover {
    background-color: var(--color-border-dark);
  }

  .app-button:hover p {
    color: var(--color-bg-body);
  }

  .app-button:hover path {
    fill: var(--color-bg-body);
  }
}

/* Header */

.main-header {
  display: flex;
  padding: 19px 0;
}

.main-header .container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-header .logo {
  margin-right: 20px;
}

.main-header .logo img {
  width: 100px;
  height: auto;
}

.nav-container {
  display: flex;
  max-width: 895px;
  justify-content: space-between;
  flex-grow: 1;
}

.main-nav .list {
  display: flex;
  gap: 42px;
  margin-bottom: 4px;
}

.main-nav .item a {
  position: relative;
  display: flex;
  height: 24px;
  font-size: 16px;
  font-weight: 600;
  line-height: 130%;
  text-decoration: none;
  color: var(--color-text-dark);
}
.nav-toggle-block .nav-toggle-button {
  display: none;
}

@media screen and (max-width: 768px) {
  .nav-container {
    position: absolute;
    top: calc(100% + 4px);
    background: var(--color-bg-body);
    left: 0;
    right: 0;
    flex-direction: column;
    height: calc(100vh - 78px - 4px);
  }
  .main-header .nav-container:not(.-active) {
    display: none;
  }

  .nav-toggle-block .nav-toggle-button {
    margin-right: -5px;
    display: block;
    background: transparent;
    border: 0;
  }
}

/* Enjoy section */

.enjoy {
  width: 100%;
  border-radius: 40px;
  padding: 100px 100px;
  background-image: url("../assets/img/img-hero.jpg");
  background-position: center;
  margin-top: -2px;
  margin-bottom: 100px;
}

.enjoy .container {
  max-width: 530px;
}

.enjoy .description {
  font-size: var(--font-size-text-1);
  color: var(--color-text-light);
  margin: 40px 0;
  font-weight: 400;
  line-height: 150%;
}

@media screen and (max-width: 820px) {
  .enjoy {
    padding: 100px 60px;
  }
}

@media screen and (max-width: 735px) {
  .enjoy .heading-primary {
    font-size: 62px;
  }
  .enjoy {
    padding: 80px 60px;
  }
}

@media screen and (max-width: 635px) {
  .enjoy .heading-primary {
    font-size: 42px;
    line-height: 115%;
  }

  .enjoy {
    padding: 80px 50px;
  }
}

@media screen and (max-width: 535px) {
  .enjoy .heading-primary {
    font-size: 42px;
  }
  .enjoy {
    padding: 70px 30px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    background-position: center;
  }
}

@media screen and (max-width: 380px) {
  .enjoy {
    padding: 60px 16px;
  }
}

/* Favourites section */
.favourites-coffee {
  margin-bottom: 100px;
}
.favourites-coffee .slider {
  position: relative;
  /* min-height: 685px; */
}

.favourites-coffee .slider .arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  width: 60px;
  height: 60px;
  border-radius: 100px;
  border: 1px solid var(--border-dark, #665f55);
  transition: all 0.5s ease-in-out;
}

@media (hover: hover) and (pointer: fine) {
  .favourites-coffee .slider .arrow:hover {
    background: var(--color-bg-container);
  }

  .favourites-coffee .slider .arrow:hover svg path {
    stroke: var(--color-bg-body);
  }
}

.favourites-coffee .slider .control {
  position: absolute;
}

.favourites-coffee .slider .control.left {
  left: 4px;
  top: calc(50% - 52px);
}

.favourites-coffee .slider .control.right {
  left: calc(100% - 64px);
  top: calc(50% - 52px);
}

.favourites-coffee .slider .list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.favourites-coffee .slider .item {
  max-width: 480px;
}

.favourites-coffee .slider .content {
  text-align: center;
  margin-bottom: 38px;
}

.favourites-coffee .content img {
  margin-bottom: 15px;
}

.favourites-coffee .content .product-title {
  margin-bottom: 17px;
}

.favourites-coffee .content .product-description {
  margin-bottom: 16px;
}

.progress-bar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.progress-bar .container {
  width: 144px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.progress-bar .progress-control {
  width: 40px;
  height: 4px;
  background-color: var(--color-border-light);
}

.progress-bar .progress-control.active {
  background-color: var(--color-border-dark);
}

@media screen and (max-width: 565px) {
  .favourites-coffee .slider .arrow {
    display: none;
  }

  .favourites-coffee {
    margin-bottom: 100px;
  }
}

/* About */

.about {
  margin-bottom: 100px;
}

.about .heading-secondary {
  text-align: left;
  line-height: 124%;
  font-size: 59.9px;
  font-style: normal;
  font-weight: 600;
}

.about .grid-container {
  display: flex;
  gap: 40px;
}

.about .column-1,
.about .column-2 {
  display: flex;
  flex-direction: column;
  max-width: 50%;
  gap: 40px;
}

.about .grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about .heading-secondary span {
  display: inline;
}

.about .grid-item img {
  width: 100%;
  transform: scale(1.1);
  transition: transform 0.5s ease-in-out;
}

@media (hover: hover) and (pointer: fine) {
  .about .grid-item:hover img {
    transform: scale(1);
  }
}

.grid-item {
  border-radius: 20px;
}

.grid-item.lg {
  width: 100%;
  overflow: hidden;
  aspect-ratio: 660 / 590;
}

.grid-item.sm {
  width: 100%;
  aspect-ratio: 660 / 430;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .about .grid-container {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
  }

  .about .column-1,
  .about .column-2 {
    max-width: 100%;
  }
  .grid-item.lg {
    width: 100%;
    overflow: hidden;
    aspect-ratio: 688 / 590;
  }

  .grid-item.sm {
    display: none;
  }

  .about .heading-secondary {
    line-height: 126%;
  }

  .about .grid-item img {
    transform: scale(1.05);
  }
}

@media screen and (max-width: 680px) {
  .about .heading-secondary {
    font-size: 32px;
  }

  .grid-item.lg {
    width: 100%;
    overflow: hidden;
    aspect-ratio: auto;
  }

  .about .grid-item img {
    width: auto;
    height: 590px;
    transform: scale(1.23);
  }
}

/* @media screen and (max-width: 980px) {
.about .grid-container {
    flex-direction: column;
  }

.about .column-1,
.about .column-2 {
  max-width: 726px;
  margin: 0 auto;
}

.about .column-2 {
  display: none;
}
} */

/* mobile-app */

.mobile-app {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 98px;
}

.mobile-app .content .wrapper {
  max-width: 630px;
}

.mobile-app .content .heading-secondary {
  font-size: 59.9px;
  text-align: left;
  margin: 0;
  margin-bottom: 40px;
}

.mobile-app .app-button:nth-child(1) {
  margin-right: 14px;
}

.mobile-app .content .description {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  color: var(--color-text-dark);
  margin-bottom: 38px;
}

@media screen and (max-width: 950px) {
  .mobile-app {
    flex-direction: column;
    margin-bottom: 94px;
    gap: 50px;
  }

  .mobile-app .content .wrapper {
    max-width: 100%;
  }

  .mobile-app .content .heading-secondary {
    margin-bottom: 45px;
  }

  .mobile-app .picture {
    margin-left: 29px;
  }
}

@media screen and (max-width: 768px) {
  .mobile-app {
    align-items: flex-start;
    gap: 100px;
  }
}

@media screen and (max-width: 720px) {
  .mobile-app {
    gap: 70px;
  }
}

@media screen and (max-width: 680px) {
  .mobile-app {
    gap: 50px;
  }
  .mobile-app .content .heading-secondary {
    font-size: 32px;
    margin-bottom: 40px;
  }

  .mobile-app .app-button {
    margin-bottom: 20px;
  }
  .mobile-app .picture {
    max-width: 550px;
    margin-left: 0;
  }
}

@media screen and (max-width: 430px) {
  .mobile-app {
    flex-direction: column;
    margin-bottom: 98px;
    gap: 20px;
  }

  .mobile-app .content .wrapper {
    min-height: auto;
  }
}

/* Menu-block */
.menu {
  margin-bottom: 99px;
}
.menu .heading-secondary {
  max-width: 800px;
  margin-top: -2px;
}

.menu .heading-secondary span {
  display: inline;
}

.menu-block-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 39px;
}

.tabs-list {
  display: flex;
  gap: 16px;
}

.tab-item {
  display: flex;
  align-items: center;
  gap: 8px;
}

.tab-item button {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 8px;
  padding: 8px 16px 8px 8px;
  background: transparent;
  border-radius: 100px;
  border: 1px solid var(--color-border-light);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  color: var(--color-text-dark);
  transition: all 0.5s ease-in-out;
}

.tab-item button span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 100px;
  background: var(--color-border-light);
  transition: all 0.5s ease-in-out;
}

.tab-item.active button {
  background-color: var(--color-bg-container);
  color: var(--color-text-light);
}

@media (hover: hover) and (pointer: fine) {
  .tab-item:not(.active):hover button {
    background-color: var(--color-bg-container);
    color: var(--color-text-light);
  }
}

.tab-item.active button {
  cursor: auto;
}

.tab-item.active button span {
  background: var(--color-bg-body);
}

@media (hover: hover) and (pointer: fine) {
  .tab-item:not(.active):hover button span {
    background: var(--color-bg-body);
  }
}

.products-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

.product-card {
  max-width: 310px;
  overflow: hidden;
  border-radius: 40px;
  border: 1px solid var(--color-border-light);
}

@media (hover: hover) and (pointer: fine) {
  .product-card:hover img {
    transform: scale(1);
  }
}

.product-card .content {
  padding: 20px;
}
.product-card .product-title {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  margin: 0;
  margin-bottom: 12px;
}

.product-card .product-description {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 12px;
  min-height: 72px;
}

.product-card .img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 40px;
}

.product-card img {
  transform: scale(1.1);
  transition: transform 0.5s ease-in-out;
}

.refresh-button-wrapper {
  display: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 100px;
}

.refresh-button {
  width: 60px;
  height: 60px;
  background: transparent;
  border-radius: 100px;
  border: 1px solid var(--color-border-dark);
}

@media screen and (max-width: 768px) {
  .product-card {
    display: none;
  }
  .product-card:nth-child(-n + 4) {
    display: block;
  }

  .menu-grid {
    margin-bottom: 40px;
  }

  .refresh-button-wrapper {
    display: flex;
  }
}

@media screen and (max-width: 380px) {
  .tabs-list {
    gap: 8px;
  }
}

/* Main footer */

.main-footer {
  width: 100%;
  margin-bottom: 40px;
  background-color: var(--color-bg-container);
  border-radius: 40px;
}

.main-footer .container {
  display: flex;
  max-width: 1280px;
  margin: 0 auto;
  justify-content: space-between;
  padding: 100px 60px;
}

.main-footer .left {
  max-width: 530px;
  margin-right: 20px;
}

.main-footer .right {
  width: 530px;
  padding-top: 33px;
}

.main-footer .heading-secondary {
  color: var(--color-text-light);
  line-height: 125%;
  text-align: left;
}

.main-footer .socials-list {
  display: flex;
  gap: 12px;
}

.main-footer .socials-list .socials-item a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 100px;
  border: 1px solid var(--color-border-light);
  transition: all 0.5s ease-in-out;
}

@media (hover: hover) and (pointer: fine) {
  .main-footer .socials-list .socials-item:hover a {
    background-color: var(--color-bg-body);
  }
}

.main-footer .socials-list .socials-item path {
  transition: all 0.5s ease-in-out;
}

@media (hover: hover) and (pointer: fine) {
  .main-footer .socials-list .socials-item:hover path {
    stroke: var(--color-bg-container);
  }
}

.main-footer .heading-contacts {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  color: var(--color-text-light);
  margin: 0;
  margin-bottom: 39px;
}

.main-footer .contact-list .contact-item {
  display: flex;
  height: 30px;
  margin-bottom: 14px;
}

.main-footer .contact-list .contact-item a {
  position: relative;
  gap: 8px;
  color: var(--color-text-light);
  text-decoration: none;
  margin: 0;
}

.main-footer .contact-list .contact-item span {
  color: var(--color-text-light);
}

.main-footer .contact-list .contact-item span span {
  margin-left: 8px;
}

.main-footer .contact-list .contact-item a::after {
  background-color: var(--color-bg-body);
}

.main-footer .contact-list .contact-item a span {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  margin-left: 8px;
}

@media screen and (max-width: 960px) {
  .main-footer .container {
    flex-direction: column;
    flex-wrap: wrap;
    gap: 100px;
  }

  .main-footer .right {
    width: 100%;
    padding-top: 0;
  }

  .main-footer .contact-list .contact-item:last-of-type {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 680px) {
  .main-footer .heading-secondary {
    font-size: 42px;
  }
}

@media screen and (max-width: 630px) {
  .main-footer .heading-secondary span {
    display: inline;
  }
}

@media screen and (max-width: 380px) {
  .main-footer .heading-secondary span {
    display: inline;
  }

  .main-footer .heading-secondary {
    font-size: 32px;
  }

  .main-footer .container {
    padding: 60px 16px;
    gap: 40px;
  }

  .main-footer .left {
    max-width: 530px;
    margin-right: 0;
  }

  .main-footer .right {
    padding-top: 0;
  }
}

/* Hover */

@media (hover: hover) and (pointer: fine) {
  /* все ховеры здесь */
}
