@import "variables.css";

body {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
ul,
ul li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img {
  width: 100%;
  height: auto;
}

.main-container {
  box-sizing: border-box;
  background-color: var(--color-bg-body);
  padding: 0 40px;
  width: 1440px;
  margin: 0 auto;
}

.heading-primary {
  color: var(--color-text-light);
  font-size: var(--font-size-heading-1);
  margin: 0;
  font-weight: 600;
  line-height: var(--height-heading-1);
}

.heading-secondary {
  text-align: center;
  color: var(--color-text-dark);
  font-size: var(--font-size-heading-2);
  margin: 0;
  margin-bottom: 40px;
  font-weight: 500;
  line-height: var(--height-heading-2);
}

.heading-secondary span,
.heading-primary span {
  display: inline-flex;
  color: var(--color-text-accent);
  font-style: italic;
}

.button-primary {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 24px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 64px;
  padding: 0 78px;
  border: none;
  border-radius: 50px;
  text-decoration: none;
  color: var(--color-text-dark);
  background-color: var(--color-bg-body);
  cursor: pointer;
  box-shadow: none;
  transition: all 0.3s ease-in-out;
  box-sizing: border-box;
}
.button:hover {
}
.button:active {
  outline: none;
  color: #fff;
}

.main-header {
  display: flex;
  justify-content: space-between;
  min-height: 80px;
}

.main-header .container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-header .logo img {
  width: 100px;
  height: auto;
}

.main-header .coffee-menu img {
  width: 20px;
}
.main-header .coffee-menu a {
  color: var(--color-text-dark);
  text-decoration: none;
}

.main-nav .list {
  display: flex;
  gap: 40px;
}

.main-nav .item a {
  text-decoration: none;
  color: var(--color-text-dark);
}

/* Enjoy section */

.enjoy {
  width: 100%;
  min-height: 644px;
  border-radius: 40px;
  padding: 100px 100px;
  background-image: url("../assets/img/img-hero.jpg");
  margin-bottom: 100px;
}

.enjoy .container {
  width: 530px;
}

.enjoy .description {
  font-size: var(--font-size-text-1);
  color: var(--color-text-light);
  margin-bottom: 40px;
}

/* favourites block */

.favourites-coffee {
  min-height: 800px;
}

.favourites-coffee .slider {
  position: relative;
  min-height: 685px;
}

.favourites-coffee .slider .arrow {
  background: transparent;
  border: 0;
}

.favourites-coffee .slider .control {
  position: absolute;
  left: calc(94% + 49px);
  top: calc(50% - 62px);
}

.favourites-coffee .slider .control.left {
  left: 0;
}

.favourites-coffee .slider .list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.favourites-coffee .slider .item {
  max-width: 480px;
}

.favourites-coffee .slider .content {
  text-align: center;
}

/* About */

.grid-container {
    display: flex;
    gap: 40px;
}

.grid-container .column {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.grid-item {
    border-radius: 20px;
}

.grid-item img {
    width: 660px;
}

.grid-item.lg {
    width: 660px;
    height: 590px;
    overflow: hidden;
}

.grid-item.sm {
    width: 660px;
    height: 430px;
    overflow: hidden;
}

